[2014-12-13 03:05] hobbldygoop opened #1 "Mount encrypted external disk."
I'm trying to mount some encrypted external drives, all created under 10.9 with either DiskUtility or Finder(rightlick encrypt). Based on what I've read on the wiki that should be mountable like this:

[code]

I always get this error, I'm certain that the password is correct.
Is this not supported or am I missing something?

[2014-12-25 08:20] joachimmetz opened #2 "Improve format support"
* [x] ~~Add support for removable media without encryption context~~
* [x] ~~Make ConversionInfo of the encryption context plist optional~~
* [x] ~~Check handling of large blobs in XML files~~ - had been solved
* [x] ~~Handle removable media without encryption context~~
* [x] ~~Add support for compressed encryption context plist~~
  * so far only compression seen in metadata block type 0x0019 in p

[2015-02-21 19:27] orzechow commented on #1
I have the same issue. Multiple partitions on a GUID partitioned external disk. One of those is the encrypted Apple_CoreStorage.

[2015-02-22 13:46] joachimmetz commented on #1
Made some changes to improve format support: https://github.com/libyal/libfvde/commit/811bd2685ba232543c771a69418ff9203aab1a09

[2015-02-25 22:07] orzechow commented on #1
Nice! Now `fvdemount` is working, but I'm still failing to mount it, because `mount` doesn't recognize the file system...
What I'm doing is:

    sudo fvdemount -X allow_root -p "mypass" /dev/sdb2 /media/TimeMachine
    sudo mount -o loop,ro /media/TimeMachine/fvde1 /media/TimeMachineMount/

The error is:

    mount: you must specify the filesystem type

As you say in your [presentation](http://ww

[2015-02-26 06:14] joachimmetz commented on #1
It is more likely that libfvde does not parse the metadata correctly. Verbose and debug output should tell you if the unencrypted volume header is found correctly.

[2015-03-12 12:38] salumaee commented on #1
I have similiar problem with encrypted system disk.
I want access to "Untitled" partition:
[code]

Verbose and debug output [here](https://www.dropbox.com/s/uak91hmmukvlid5/fvde.log?dl=0)
Do you have any idea what can be wrong?

[2015-04-04 01:07] erisler-myntpartners opened #3 "Data Recovery with libfvde?"
Hi, I hope this isn't out of line posting here...I have a situation where my Macbook Filevault 2 drive had a problem while attempting to decrypt using Diskutil. The drive will no longer mount and the output of `diskutil cs list` is incomplete. It appears the encrypted drive's metadata is corrupt (`libfvde_metadata_block_read: mismatch in checksum ( 0xe9241b07 != 0xbd0b4724 ).`).

My question: can

[2015-04-04 05:07] joachimmetz commented on #3
The checks are there for a reason, but the source is available so you can remove the checks very easily. Just search for 'mismatch in checksum' e.g.
[code]

And remove the corresponding check for the code, rebuild and you have a version without. I can look at adding more error tolerance long term but for that IMO a better understanding of the format is required.

[2015-04-04 12:39] erisler-myntpartners commented on #3
Perfect...thanks for the guidance.

[2015-04-06 08:54] #3 closed

[2015-05-12 09:36] giovariot opened #4 "Unsupported block size"
Hello. I'm trying to mount an external OS X 10.10 encrypted drive. I compiled 20150222 from git on Ubuntu 15.04 but every time I try using both `fvdemount` and `fvdeinfo` this is what I get.

[code]

Here is the `mmls` output on the drive:

[code]

I don't understand what is going on, but I'd really like to be able to mount it since I just quitted using OS X.

Thank in advance.
Giovanni

[2015-05-12 10:08] joachimmetz commented on #4
This means libfvde encounters a value it cannot handle. Can you provide me with debug output as described here: https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors

[2015-05-12 10:32] giovariot commented on #4
Thanks a lot for the very fast answer! I just recompiled it using the `--enable-verbose-output` and `--enable-debug-output` but the only added line is this:

[code]

Is all the additional info logged inside a file?

[2015-05-12 10:52] joachimmetz commented on #4
You'll also have to add -v e.g. fvdeinfo -v ... 2>debug.log

[2015-05-12 11:04] giovariot commented on #4
Compiled it with `./configure --enable-wide-character-type  --enable-verbose-output --enable-debug-output`
Running `$ sudo fvdeinfo -v /dev/sdb2 2> debug.log` this is the content of `debug.log`:

[code]

I also compiled it with `$ CPPCFLAGS=-g ./configure --enable-wide-character-type  --enable-verbose-output --enable-debug-output --enable-shared=no` and the stderr output (`sudo fvdeinfo -v /dev/sd

[2015-05-12 13:11] joachimmetz commented on #4
Looks to me the relevant info in in the pastebin, I'll have a more detailed look as soon as time permits.

[2015-05-12 13:18] giovariot commented on #4
Allright, thanks a lot!

[2015-05-13 05:54] joachimmetz commented on #4
libfvde encounters a metadata block it cannot handle.
[code]

Can you have a look with hexdump or equiv what the data at offset (start of volume + 0x859000) and (start of volume + 0x85b000) looks like on the encrypted volume (your data as is).

I'll try to add detection for this situation and ignore the block if the relevant metadata was already found.

[2015-05-13 09:31] giovariot commented on #4
Here is the output running `$ sudo hexdump -C -s 0x859000 /dev/sdb3` (hope it's right since I've never used `hexdump`)

[code]

I think `0x85b000` has the same value of `0x859000`

[2015-05-14 14:32] joachimmetz commented on #4
Since "Disco esterno" is your encrypted volume can your try running the hexdump on /dev/sdb2:
[code]

[2015-05-14 23:48] giovariot commented on #4
Sorry... You're right, din't notice it :smile:. I'll check it in a few hours.

[2015-05-15 00:15] giovariot commented on #4
Here is the output running `$ sudo hexdump -C -s 0x859000 /dev/sdb2`. Sorry again

[code]

[2015-05-17 06:04] joachimmetz commented on #4
OK thanks adding some of the output here:
[code]

[2015-05-17 14:08] giovariot commented on #4
I added some more of the output to the same gist:

https://gist.github.com/giovariot/1d34094ffcfbde06ea80

[2015-06-13 06:56] melts-net opened #5 "Logical Volume size 0 bytes"
Hi
to give a little background - I'm trying to get data from a macbook air that got rather wet. The PCI-E SSD seems intact, but I doubt it was cleanly shutdown.

using fvdeinfo on the encrypted partition I get this

fvdeinfo 20150222

Core Storage information:

Physical volume:
        Size:                           120472952832 bytes
        Encryption method:              AES XTS

Logical volum

[2015-06-13 07:37] joachimmetz commented on #5
Thanks for the feedback and debug info, the quick and dirty way is to hack in the logical volume offset and size, e.g. [here](https://github.com/libyal/libfvde/blob/master/libfvde/libfvde_volume.c#L1458)

[2015-06-13 08:35] melts-net commented on #5
Thanks for the help - I did provide a value - initially the same as the part size, and then made it a bit smaller, and found in both cases only the first 16781kB can be read. I compiled with just verbose logging and used that when mounting, and got a stream of these errors as I proceeded to go past the limit (with all but the handle_seek_offset numeric values changing) -

libcfile_file_seek_offset

[2015-06-13 12:36] joachimmetz commented on #5
So the library expects that the "com.apple.corestorage.lv.size" in the plist in metadata block data type 0x001a contains the logical volume size. However I don't see this metadata block in your debug output.

Thanks for the offser, yes that is very useful. In the mean time I'll continue looking at the debug information, it "should" contains most of the relevant metadata.

[2015-06-21 22:58] yurikoles opened #6 "Add support for un-encrypted Fusion volumes"
Or please explain how to mount such volume. Obviuosly, I don't have EncryptedRoot.plist.wipekey on my Recovery HD.
https://gist.github.com/yurikoles/bbce281789e182af873d

[2015-06-22 04:58] joachimmetz commented on #6
If you can provide me with debug output or a test image I can have a look.
Also see: https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

[2015-06-22 11:04] yurikoles commented on #6
I just created fusion drive with disckutil cs commands.

[2015-06-23 05:23] joachimmetz commented on #6
I would need to know exactly how you create the cs volume, otherwise I'm unable to reproduce the issue.

[2015-06-24 03:33] yurikoles commented on #6
[code]

[2015-06-24 04:11] joachimmetz commented on #6
Thx I'll have a look as soon as time permits.

[2015-06-27 19:02] saizai opened #7 "Unable to retrieve, etc"
[code]

[2015-06-29 17:20] joachimmetz commented on #7
Which version of libfvde are you using?

[2015-06-29 17:20] joachimmetz commented on #7
Similar issue in: https://github.com/libyal/libfvde/issues/5

[2015-06-30 10:55] saizai commented on #7
libfvde-experimental-20140907

[2015-06-30 10:56] saizai commented on #5
/sub

[2015-07-08 18:47] onesandzero commented on #7
I'm experiencing the same problem, has anyone found a solution?  Or am I just doing something wrong?
[code]

[2015-07-08 20:37] joachimmetz commented on #7
I opt to try the version in git

[2015-07-09 18:39] onesandzero commented on #7
@joachimmetz , Thanks!  :smiley:

The version that i was using was originally built with the latest stable build, but once it was rebuilt using the most recent version it successfully mounted as a raw device fvde1.  Unfortunately I was unable to mount it to a readable format using the mount command.  It required that I specify the filesystem type.  I attempted hfs, hfsplus, and ntfs, but alas, I w

[2015-07-11 18:33] norpol commented on #7
Tell us the output of `sudo file --special-files /dev/fvdevolume/fvde1` and make sure you've got `hfsutils` installed. In addition you can check the output of `dmesg | tail`, which might give you additional details.

[2015-07-11 18:41] joachimmetz commented on #7
@norpol could also be that the encrypted data is not detected correctly by libfvde.
debug output is likely to tell me https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors

Format support is still WIP, also https://github.com/libyal/libfvde/issues/2

[2015-07-11 21:52] norpol commented on #7
@joachimmetz Ah, well that makes sense too.

[2015-07-13 19:02] onesandzero commented on #7
@norpol , See below outputs
[code]

@joachimmetz , I read that troubleshooting article, but i'm not sure what you want, do you want the debug from when it is built, or does it create some log when it is being run?

[2015-07-13 19:35] norpol commented on #7
Seems like @joachimmetz suggested, creating the volume failed.
The link he posted mentions that you should remove 'private' data when submitting verbose/debug logs. To enable the debug log you need to run the `configure` script with parameters ([see here](https://github.com/libyal/libfvde/wiki/Building#verbose-and-debug-output)).

[2015-07-13 19:47] onesandzero commented on #7
Thanks @norpol I'll enable the debugging and try it again.  I will also attempt to strip any private data when I post next.

[2015-08-03 04:43] joachimmetz opened #8 "Add support for compressed encryption context plist"
In newer versions of Mac OS-X the encryption context plist seems to be zlib compressed.

Seen in metadata block 0x0019

Need reproducible test data

[2015-10-07 18:37] joachimmetz opened #9 "Add option to force logical volume offset"
If the format support is unable to detect the logical volume offset correctly allow for a manual override?

[2015-10-18 09:07] joachimmetz opened #10 "Complete Python bindings"
* [x] add function to set encrypted context plist

[2015-10-26 11:06] hydrocloricacid opened #11 "fvdemount only mounts 17GB of 232GB volume"
From a 233GB "apple core storage" partition the fvdemount'ed volume size is 17GB.
This 17GB volume/device cannot be mounted.

Bug ?

Only changes I did after git clone libfvde , was to rem out lines 21&22 in configure.ac so that autogen.sh would work. Created deb pkgs under debian.

### fdisk information (ewfmount'ed E01's + losetup)
fdisk -l /dev/loop0

Disk /dev/loop0: 233.8 GiB, 251000193024 by

[2015-10-26 17:28] joachimmetz commented on #11
With which version of Mac OS X was the FileVault volume created? There are some issues with FVDE volumes from later versions of Yosemite (and later) regarding the volume size. Looks like the format might have changed a bit.

[2015-10-26 21:22] hydrocloricacid commented on #11
Fairly sure it's Yosemite.
I'll check and get back to you.
Has a PCIE SSD, was impressed Linux acquired it.

On Tue, 27 Oct 2015 04:28 Joachim Metz <notifications@github.com> wrote:

[2015-10-27 06:25] hydrocloricacid commented on #11
The apple is a Macbook Pro Retina.  (A1398)
Haven't been able to get in to check the OS yet.

We were unable to mount the drive using 2014 Macquisition, but when we
connected a reverse cloned drive to a OSX Yosemite machine it decrypted it
fine.
(currently dd'ing it   (must get around to statically compiling ewfacquire
for OSX.))

Assume it's a newer sersion of OSX.

Am happy to create a small tes

[2015-10-27 06:35] joachimmetz commented on #11
Thanks that could be useful.

[2015-12-23 13:10] eoyslebo commented on #5
I have the same issue:

fvdeinfo -v -o 209735680 -e EncryptedRoot.plist.wipekey -p 'workingpassword' filevault.dd :+1:

fvdeinfo 20151013
Core Storage information:
Physical volume:
        Size:                           250140434432 bytes
        Encryption method:              AES XTS
Logical volume:
        Size:                           0 bytes

fvdemount "works" and does not report any issue

[2016-01-25 10:59] joachimmetz opened #12 "add deflate compression support"
Recent analysis of the format indicated that the format uses deflate compression
- [ ] add deflate support based on zlib and fallback implementation

[2016-02-20 07:54] brucemarkey commented on #5
I have the exact problem with libfvde 20160108.  Is there a solution?

[2016-02-26 01:29] patte commented on #1
I'm running in exactly the same situation as @salumaee :(
[code]

when running it without -t hfsplus
[code]

what could I try?

[2016-02-26 06:43] joachimmetz commented on #5
not yet, these issues are caused by format changes, I have not found the time to look at them and address the issue

[2016-02-28 18:42] willd commented on #1
I ended up dd'ing the fvde1 partition file to a new device, running fsck on that device. I could then mount it properly! (I also fucked up a hfsplus shrink from OSX, which made the installation unusable)

[2016-03-01 23:34] yurikoles commented on #6
up?

[2016-03-02 05:06] joachimmetz commented on #6
None yet.

[2016-03-31 16:59] minexew commented on #11
I'm having a similar issue with an El Capitan-encrypted flashdrive.
fvdeinfo is able to identify it as follows:
[code]

However, fvdemount doesn't even ask for a password - &lt;mountpoint&gt;/fvde1 is created, but impossible to mount (doesn't contain a valid filesystem).

[2016-06-11 15:44] jonathancross commented on #7
Hi @onesandzero did you ever get this figured out?

[2016-06-11 16:45] onesandzero commented on #7
@jonathancross nope, I shamefully gave up :(

I ended up using BlackLight on a Mac to mount and view it.  If you get it to work let me know!

[2016-06-21 13:08] xtaylord opened #14 "Error - Unable to retrieve element: 1303816 value"
I've successfully mounted an encrypted volume using the following command:
fvdemount -e EncryptedRoot.plist.wipekey -V -o 209735680 -p 'PASSWORD' imagefile.dd /mnt/tmp/

However, when I try and copy or 'dd' /mnt/tmp/fvde1 I start getting repeated Input/output errors from the imaging tool after reading about 600mb.

In verbose mode, fvdemount gives the following repeated errors when this point is m

[2016-06-21 18:15] joachimmetz commented on #14
Is you image truncated by any chance?

[2016-06-21 18:34] xtaylord commented on #14
I believe it's a complete disk image. I generated an md5 hash when I acquired the image, so I'll verify the hashes tomorrow.

[2016-06-22 06:50] xtaylord commented on #14
I've just checked and the hash matches the original disk, confirming that it is a complete image.

[2016-06-22 06:56] joachimmetz commented on #14
Thanks, I suspect it might be something with handling the metadata then, that the offset falls outside the image. If you can provide me with a debug log (see: https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors) I can try to determine what this issue is.

[2016-06-22 06:56] joachimmetz commented on #14
Please also make sure you're using the latest libfvde.

[2016-07-22 01:58] ephemient opened #15 "fvdemount won't mount"
This is the boot disk in a MBP, originally installed in 10.10, then resized to dual-boot Linux (where I'm running these commands from), and upgraded to 10.11.

    $ fvdeinfo -e EncryptedRoot.plist.wipekey -p '' /dev/sda -v >fvdeinfo.txt 2>&1
    $ fvdemount -e EncryptedRoot.plist.wipekey -p '' /dev/sda2 /mnt -v
    fvdemount 20160719

    libfvde_volume_set_utf8_password: user password:
    libfv

[2016-07-22 04:31] joachimmetz commented on #15
The format of your image is not supported yet. Here the encrypted volume is likely split in 2 extents:

[code]

Changes are on their way to support this.

[2016-07-22 04:34] #10 closed

[2016-07-22 04:35] joachimmetz commented on #10
https://github.com/libyal/libfvde/commit/cc3f6e0073ce233fd483865f6a50aec5d4fca080

[2016-07-22 04:36] joachimmetz commented on #14
Cannot fix without debug.log closing issue, reopen if additional information comes available.

[2016-07-22 04:36] #14 closed

[2016-07-22 04:39] joachimmetz commented on #7
Closing issue cannot fix without debug log. Reopen if data comes available, otherwise I suspect it getting addressed by https://github.com/libyal/libfvde/issues/2

[2016-07-22 04:40] #7 closed

[2016-07-22 04:41] joachimmetz commented on #11
Cannot solve issue without test data. Closing issue. This will likely be addressed by https://github.com/libyal/libfvde/issues/2

[2016-07-22 04:41] #11 closed

[2016-07-22 04:42] joachimmetz commented on #5
This is due to changes in the format. Closing this issue in favor of https://github.com/libyal/libfvde/issues/2

[2016-07-22 04:42] #5 closed

[2016-07-22 04:46] ephemient commented on #15
Thanks, that makes sense.

[2016-07-31 15:29] joachimmetz commented on #15
Experimental version 20160729 has basic support for these format changes.

[2016-07-31 15:29] #15 closed

[2016-08-01 14:40] joachimmetz commented on #4
Note to self is this an unused block?

[code]

[2016-08-02 19:13] dan-saba opened #16 "Password Displayed in Process List (security concern)"
I noticed that fvdemount will display the partition's password in the process list (which can be seen by any user), as it is taken as a parameter when mounting. Can this security issue be corrected in a future release?

[2016-08-02 19:21] joachimmetz commented on #16
At the moment this project is **experimental** and the tools are meant for usage in isolated lab environments. I can look into adding an option that allow you to pass credential via a password prompt. Note that this is not one of my highest priorities.

[2016-08-02 19:23] dan-saba commented on #16
Thanks for the quick response. May I suggest [this](http://stackoverflow.com/questions/3830823/hiding-secret-from-command-line-parameter-on-unix) as a workaround for those who share this concern?

[2016-08-03 05:30] ephemient commented on #16
This is not a proper long-term solution, but I made [libcmdsdaskpass.so](https://gist.github.com/ephemient/daafa8b001a46004f649) to get around this for the time being (on Linux).

    LD_PRELOAD=libcmdsdaskpass.so fvdemount -p '$(systemd-ask-password --id=fvdemount --keyname=cryptsetup --accept-cached)' ...

The password doesn't show up in `/proc/.../cmdline` but the program is executed as if it w

[2016-08-15 11:27] waynemcdougall opened #17 "Unable to unlock keys"
I get "Unable to unlock keys." in the 20160801 version. The previous version 20160729 gives a list of errors. So maybe this is an area that is being worked on.

The disk image is from El Capitan. Happy to supply more information.

I took a snapshot of the hard drive (booting into Ubuntu using USB and the a dd of the drive).
My friend lost her emails off her iPhone (going back to 2009), and then wh

[2016-08-15 11:29] joachimmetz commented on #17
yes, this is an experimental library, that is being worked on when time permits

Can you provide me with the verbose and debug output per https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

[2016-08-15 11:43] waynemcdougall commented on #17
Very grateful for the work done to date, and not demanding anything. I hope this data will be helpful. Sorry for not providing it immediately. Super impressed with instantaneous response - which I don't expect ever again. :-)

[debug.txt.tar.gz](https://github.com/libyal/libfvde/files/417972/debug.txt.tar.gz)

[2016-08-15 14:27] joachimmetz commented on #17
Thx, I'll have a look as soon time permits.

Thx, depends on what I was doing at the time you reported the issue ;)

[2016-09-14 22:12] gregfreemyer opened #18 "winapi autodetect logic seems to have an issue"
I'm trying to build libfvde inside the openSUSE build system.  I suspect it is attempting to do a WIndows cross compile.

https://build.opensuse.org/package/show/home:gregfreemyer:Tools-for-forensic-boot-cd/libfvde

If you look at the build log you see the ./confgure process ends with:

[   68s] checking for stdarg.h... (cached) yes
[   68s] checking for varargs.h... (cached) no
[   68s] checking

[2016-09-15 04:46] joachimmetz commented on #18
I'll have a look when time permits.

[2016-09-18 10:15] joachimmetz commented on #18
This is likely fixed by https://github.com/libyal/libfvde/commit/04e8b4c5e24af4468e0180cdf8d561aa3ed2d0f8

[2016-09-18 10:16] #18 closed

[2016-09-20 02:50] gregfreemyer commented on #18
Indeed it is fixed.

Thanks

On Sun, Sep 18, 2016 at 6:15 AM, Joachim Metz <notifications@github.com>
wrote:

[2016-09-22 21:42] ClintfromCanada commented on #6
Hello.  I would also love to know how I can mount an unencrypted Fusion volume in Linux.  Seems it would be best to just ignore the -e option and have try to mount without a key.  What do I know though...

[2016-09-23 04:59] joachimmetz commented on #6
at the moment this is not support, hence this feature request

[2016-10-03 18:33] grighi opened #19 "unable to retrieve ConversionInfo key"
I'm trying to unlock an external drive encrypted last week. It wasn't encrypted on my machine, so I'm not sure which version of OSX or filevault was used in the encryption. In any case, here is what I'm getting:

[code]

And here is my [debug_output.txt](https://github.com/libyal/libfvde/files/506914/debug_output.txt)

[2016-10-03 19:32] joachimmetz commented on #19
thx, I'll have a look at soon as time permits.

[2016-10-04 20:17] glaureano commented on #17
I get the same error too.

$ fvdemount -e EncryptedRoot.plist.wipekey -p XXXXXX -o 209735680 FILE.dd MOUNT_POINT
fvdemount 20160918

Unable to unlock keys.

But, the debug output was too large, almost 30MB, so I will need 3 post to send the file and rename zip.00X to 00X.zip to work.
[debug.001.zip](https://github.com/libyal/libfvde/files/509435/debug.001.zip)

[2016-10-04 20:20] glaureano commented on #17
This is the second part.
[debug.002.zip](https://github.com/libyal/libfvde/files/509439/debug.002.zip)

[2016-10-04 20:20] glaureano commented on #17
This is the last one.

[debug.003.zip](https://github.com/libyal/libfvde/files/509441/debug.003.zip)

[2016-10-05 03:43] joachimmetz commented on #17
thx, will try to have a look later this week.

[2016-10-05 12:04] glaureano commented on #17
I appreciate.

[2016-11-20 12:37] wefner opened #20 "Unable to open: /dev/sda2"
Hi there,

I am using pre-release version libfvde-20160918 on Ubuntu 16.04 and I am hitting this error when trying to mount encrypted HFS. I am describing the commands I am issuing and the according error.
[code]
Thanks for taking your time on this experimental tool.

[2017-01-18 12:36] ramonskie opened #21 "libfvde_encryption_context_plist_get_passphrase_wrapped_kek: invalid plist - missing XML plist crypto users key"
i try to mount my macbook disk but i only have the password and not the recoverykey
and as i read it you can access it only with the password right?

i tried

[code]

any suggestions?

[2017-02-11 09:21] echoz commented on #1
Seeing the same as @patte. fsck.hfsplus -f also says the following but doesn't actually repair the volume:

`root@pico:/media# fsck.hfsplus -f fvde/fvde1
** fvde/fvde1 (NO WRITE)
** Checking HFS Plus volume.
** Checking Extents Overflow file.
** Checking Catalog file.
** Checking Catalog hierarchy.
** Checking Extended Attributes file.
** Checking volume bitmap.
** Checking volume information.

[2017-02-17 01:43] drvk commented on #17
The same problem here:

Will gladly post more details / outputs via e-mail if needed.

Treat the ZIP as RAR ;)

[fvdemount.zip](https://github.com/libyal/libfvde/files/782031/fvdemount.zip)

[2017-02-27 02:00] eternaleye opened #22 "libfplist_property_get_value_string: unsupported value type"
Non-verbose output:
[code]

Turning on verbose output yields the following info (with everything before the seeming error removed, and UUIDs snipped out, as I don't know what is/isn't private):
[code]

[2017-02-27 06:09] joachimmetz commented on #22
[code]

This might be related to the array

[2017-03-01 07:37] eternaleye commented on #22
After patching the library to hardcode the LVF UUID (and skip the related checks), I got it to make progress - However, it now fails in `libfvde_io_handle_read_logical_volume_header`. If I add a debug print, I see it's called twice - once on a volume with the signature `0x28ec`, and once on a volume with the signature `0xe33b`.

This is the layout of the (last listing of) volumes, on a 750GB (~700

[2017-03-29 01:47] cyberxml commented on #22
Confirming the same non-verbose message as in original post.
Receive the same error using 'a full device image with an offset' or using 'the partition image with no offset'.

[2017-04-12 18:09] monteirotorres commented on #17
I am sorry for the trouble, but I have bumped into this very error, have you had any news about it? @joachimmetz ?

[2017-05-05 12:40] w3aryb0arpig opened #23 "4096 Block size"
I have a dd physical image of a 250GB SSD (OS Sierra) from a FV2 encrypted Macbook Pro 2016. The block size for this device is 4096 bytes per sector.

I run **mmls** on the dd file and it shows the Start sector for my encrypted partition as being 0000076806 and Units are 4096-byte sectors.

I run the following command:-

**fvdemount -e EncryptedRoot.plist.wipekey -o $((76806*4096)) -p secret_passw

[2017-05-06 21:16] bigbillchoney commented on #17
Same problem here :(

fvdemount 20160918

Unable to unlock keys.

[2017-05-09 10:09] joachimmetz commented on #23
Can you provide me with verbose and debug output: https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

The reason why you cannot mount the HFS volume might be different then the sector size.

[2017-05-12 11:52] w3aryb0arpig commented on #23
Hi @joachimmetz. FYI, I edited the libfvde_io_handle.c code, replacing the two entries of '512' with '4096' and it worked perfectly :). I think the problem lies in that a sector size of 512 is hardcoded in the libfvde_io_handle.c file from what I can tell and the latest Macbooks have a sector size of 4096

[2017-05-15 13:26] joachimmetz commented on #23
Thanks I'll have a look at populating this from the CS volume header then. Could you confirm the number of bytes per sector in the debug output is 4k ?

[2017-05-15 15:50] w3aryb0arpig commented on #23
@joachimmetz, do you want me to check the number of byters per sector in the debug output for your original code or for my compiled in code in which I have changed the sector size in the _libfvde_io_handle.c_ code?

[2017-05-15 17:51] joachimmetz commented on #23
block size is logical block size not bytes per sectors, at the top of the debug output the Core Storage volume header is printed. If you can provide me with a copy of that, that would be useful. E.g.

[code]

[2017-05-15 18:32] w3aryb0arpig commented on #23
As request @joachimmetz

<img width="609" alt="screen shot 2017-05-15 at 19 31 38" src="https://cloud.githubusercontent.com/assets/11302187/26072922/269525fc-39a5-11e7-9696-ea77358ffd7c.png">

libfvde_io_handle_read_volume_header: bytes per sector			: 512
libfvde_io_handle_read_volume_header: unknown4a				: 0x00000000
libfvde_io_handle_read_volume_header: unknown4b				: 0x00000000
libfvde_io_handl

[2017-05-22 07:51] mbernaschi commented on #23
Good morning, I have a dd image of 256 SSD disk encrypted from a FV2 encrypted Mac Book Air.
The output from mmls is
GUID Partition Table (EFI)
Offset Sector: 0
Units are in 512-byte sectors

      Slot      Start        End          Length       Description
000:  Meta      0000000000   0000000000   0000000001   Safety Table
001:  -------   0000000000   0000000039   0000000040   Unallocated
002:

[2017-05-22 20:01] mbernaschi commented on #23
My fault. I forgot to multiply the offset by the block size.
Thanks,
MB

[2017-05-23 04:31] joachimmetz commented on #23
@mbernaschi also please do not hijack existing issue threads for other issues I'll remove your comments from this thread

[2017-05-23 04:32] joachimmetz commented on #23
@w3aryb0arpig thanks, I'll have a look as soon as time permits if I can add 4k sector support

[2017-05-23 08:30] w3aryb0arpig commented on #23
Thanks @joachimmetz. One of my colleagues is also actively looking at this issue and a solution. If we do manage to resolve it prior to you, we will share our solution with you

[2017-06-06 06:25] mbernaschi opened #24 "Error in fvdeinfo and fvdemount"
Hello, I am trying to use the fvdetools but I consistently get the same error and I wonder if there is something wrong with my build (or if I am using. I am using the 20160918 build.
I built the image of an USB driver (8 GB). The output of mmls is the following
GUID Partition Table (EFI)
Offset Sector: 0
Units are in 512-byte sectors

      Slot      Start        End          Length       Descript

[2017-06-06 09:41] joachimmetz commented on #24
[code]
this is telling you it cannot find the FVDE format, try adding the byte offset of the volume with `-o`. Also see: https://github.com/libyal/libfvde/wiki/Mounting

[2017-06-06 10:19] mbernaschi commented on #24
Thanks Joachim, for the prompt reply and sorry for overlooking the documentation.
By adding the offset (multiplied by the sector size) I got a more meaningful
Unable to unlock keys
error. However this means that fvdemount still fails. I am confident of the password (I created the encrypted volume on the USB keys few days ago). I just wonder if I am still doing something wrong. This the command I a

[2017-06-08 11:54] joachimmetz commented on #24
the project is experimental, could you check with verbose/debug output if this is an issue with format support. Also see" https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

[2017-06-09 05:42] jbothma opened #25 "libfdata_vector_get_element_index_at_offset: invalid element index value exceeds maximum."
Well done and thanks for this awesome library and great instructions!

I'm trying to mount an external drive. it seems to do the first mount fine, but I get the following when I mount the fvde file:
[code]

dmesg says
[code]
fvdemount -v says
[code]
eight times with different values of data offset.

fsck.hfsplus says
[code]

Does the error mean anything to you?

[2017-06-09 11:26] joachimmetz commented on #25
it could be that the source image truncated or that the size of the encrypted volume is detected incorrectly can you provide me with format debug output. Also see: https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors

[2017-06-15 09:02] jbothma commented on #25
Sorry, I had to give the drive back after borrowing it. If I have access again I'll try and give more info.

[2017-06-15 09:02] #25 closed

[2017-06-20 15:35] monteirotorres commented on #17
Hello there, any news about this issue?

[2017-06-21 06:32] joachimmetz commented on #17
based on debug.001.zip
[code]

it looks like unsupported format features (also see: https://github.com/libyal/libfvde/issues/2)

try HEAD for now various changes have been made in the mean time, I'll try to release an updated version as soon as time permits

[2017-06-23 20:57] Cliffsky opened #26 "Read-write support"
hello,

does libfvde support write operations on filevaulted drives?

[2017-06-24 07:13] joachimmetz commented on #26
No

[2017-06-27 16:52] monteirotorres commented on #17
fvdemount 20170527

Unable to unlock keys.

No luck yet. By HEAD, you meant the last version? Sorry, I am not used to developers terms.

[2017-06-27 18:45] joachimmetz commented on #17
HEAD is the latest version in the git repo

@monteirotorres I would need the verbose and debug output per https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

to say anything useful about the error

[2017-07-17 06:40] brucemarkey commented on #17
Re: Unable to unlock keys
Version 20170527
fvdemount works perfectly on MacOS version 10.12.3 Sierra (MacBook Air 13, block size 4096), but fails on 10.12.5.  It looks like a problem determining the Logical Volume offset/size.  Verbose/Debug output attached.
Fantastic product, by the way :)
[verbose-and-debug-output.zip](https://github.com/libyal/libfvde/files/1151727/verbose-and-debug-output.zip)

[2017-07-17 18:09] joachimmetz commented on #17
@brucemarkey thanks, I'll have a look as soon as time permits

[2017-07-26 14:40] monteirotorres commented on #17
Well, it took a while, but here is the verbose output, using the latest version. Thanks for all your trouble!

[fvdemount.zip](https://github.com/libyal/libfvde/files/1176938/fvdemount.zip)

[2017-07-26 20:05] joachimmetz commented on #17
thx, trying to have a look later this week

[2017-08-28 04:37] giorgidze opened #27 ""unsupported core storage signature" for an external, encrypted, time-machine USB drive"
I am trying to decrypt and external USB drive (time machine back up generated by Mac OS X).

Am I missing something obvious?
(See below the steps to reproduce).

mmls output is as follows:

[code]

When running `fvdemount` I get the following error

[code]
To obtain more detailed information I have built `fvdemount` with debug and verbose output. More detailed output is below.

I tried with the ac

[2017-08-28 04:40] joachimmetz commented on #27
[code]

this tells you libfvde cannot find the correct data structure signature

[2017-08-28 04:45] giorgidze commented on #27
Is this because of the type of encryption not yet supported by `libfvde` ?

[2017-08-28 04:48] joachimmetz commented on #27
I dot not have sufficient details to answer your question. In the data you've provided there is no core storage signature. It could be a different format, it could be something specific to your set up.

How did you create your USB drive?

[2017-08-28 05:22] giorgidze commented on #27
The Samsung USB drive was formatted by Mac OS X (Time Machine), it should have an encrypted HFS+ file system. What I see in gparted and other Linux tools is that unrecognisable / encrypted partition is on /dev/sda2.

Are the commands I am issuing above (including the offset calculation) correct?

[2017-08-28 05:47] joachimmetz commented on #27
As far I can tell yes. 512 byte sector size x 409640 sectors

Can you try `hexdump -Cv /dev/sda | less` and look at the first 512 bytes of the volume

[2017-08-28 05:50] joachimmetz commented on #27
Also what do you mean with "encrypted HFS+ file system"

Note that there is FileVault 1 and FileVault 2 (core storage).

[2017-09-18 17:17] zappoi opened #28 "Unable to unlock keys on USB device"
Hello,
with fvdeinfo 20170917 it's impossible to mount / have infos on Filevaulted devices:
it's says `Unable to unlock keys.`

What diskutil shows:
[code]

And I don't what I'm doing wrong but although I compiled libfvde with debug output it shows nothings
[code]
[code]

Do you have an idea of what I'm doing wrong ?
Thanks!

[2017-09-18 18:56] zappoi commented on #28
I compile an older version and the debug output worked
[output file log](https://github.com/libyal/libfvde/files/1311844/open.txt)

[2017-09-19 04:42] joachimmetz commented on #28
libfvde does not seem to find the correct offset of the encrypted volume. I'll have a look when time permits

[2017-09-20 06:03] joachimmetz opened #29 "fix failing tests"
* [ ] setup.py build failing due to missing autogenerated source
  * skip test target? setup.py designed to work with dist package
[code]

[2017-09-22 17:03] edp05373 commented on #23
Hi everyone. Any updates? I am also coming across issues with a 4k byte sector image.

Unfortunately I am not a coder and rather not screw this up.

Thanks!

[2017-10-04 19:51] joachimmetz commented on #17
sry for slow response, swamped at the moment with other stuff

@brucemarkey

No 0x0505 but 0x0305
[code]

So definitely something wrong with the size offset detection
[code]

[2017-10-04 19:51] joachimmetz commented on #17
@monteirotorres

Alas log is truncated
[code]

[2017-11-05 11:10] gliwka commented on #22
Same here.

[2017-11-10 22:08] w3aryb0arpig commented on #23
Hi @edp05373. Only just seen this. Have you identified a solution or do you still require support?

[2017-11-11 20:12] edp05373 commented on #23
Hello. I found a workaround.

Thanks for checking in!

[2017-12-01 13:24] mlen commented on #23
@edp05373 could you share your workaround?

[2017-12-10 11:54] Rob--W opened #31 "Can't run (cross-)compiled binary on Windows"
I cross-compiled for Windows on Linux based on the instructions at https://github.com/libyal/libfvde/wiki/Building.
Instead of MinGW32 I used MinGW-W64, with the following command:

[code]

The above produces a binary (e.g. `fvdeinfo.exe`), but when I run it on Windows 7, I get the following error:

It seems that `libvfde-1.dll` is dynamically linked against `libgcc_s_sjlj-1.dll`, which is not pre

[2017-12-13 18:46] hackob commented on #25
I'm having the same problem described here:

[code]

[2017-12-13 19:00] hackob opened #32 "libfdata_vector_get_element_index_at_offset: invalid element index value exceeds maximum."
I'm having the same issue described in the  #25 that is closed.

**mount output:**
[code]

**fvdemount -v output:**
[code]

**dmesg output:**
[code]

[2017-12-21 22:19] lotusamurai commented on #23
I was having a similar odd problem where fvdemount was giving me a logical file that was much smaller than my expectation. I ended up with a 3.3GB fvde file while my partition was actually around 230GB. My mount command was throwing the same as in the OP for this topic.

It might not be applicable to every case, but in the event you need to access the contents of a raw image and don't really care

[2018-01-08 12:15] joachimmetz commented on #23
@lotusamurai your issue is more related to https://github.com/libyal/libfvde/issues/2

I have a 4k storage media image now with a FVDE volume, having a look what I can find.

[2018-01-08 13:29] joachimmetz commented on #23
My initial findings are that bytes per sector internally libfvde works when it is 512 (even for 4k sector storage media), however the initial offset needs to be `sector x 4k`. The incorrect volume sizes are like due to lacking format support.

[2018-01-12 14:50] nodje commented on #17
Hi, did you have any success on the latest 10.12.6 or even 10.13.x?

[2018-01-12 14:59] monteirotorres commented on #17
Haven't tried yet. Was waiting for the developer to signal me any new changes that could have resolved the issue.

[2018-01-18 16:46] ant1 opened #33 "dfvfs unit test fails with libfvde experimental-20180108"
Hi,

With version experimental-20180108,  1 regression test from dfvfs fails:

[code]

[2018-01-18 19:18] joachimmetz commented on #33
This looks more than a dormant bug in dfvfs than regression in libfvde. Since the pyfvde volume seems to be closed multiple times.

[2018-04-18 06:49] dwhickox opened #34 "fvdemount wont unlock"
This is what I am trying ant like other it does not work, sorry if I'm clueless and doing something stupid
root@kali:~# sudo fvdemount  -p "mypass" /dev/sdd2 /mnt/fvde/

fvdemount 20180108

Unable to unlock keys.

[2018-04-18 18:34] joachimmetz commented on #34
Could be that the FVDE format is not fully supported. Could you send me debug output. Also see: https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

[2018-05-18 23:55] daedadu opened #35 "EncryptedRoot.plist.wipekey missing on encrypted external device"
Hi I'm trying to get the EncryptedRoot.plist.wipekey file from an external device and it seems it is missing.

This is what I get:

    mmls /dev/disk2
    GUID Partition Table (EFI)
    Offset Sector: 0
    Units are in 512-byte sectors

          Slot      Start        End          Length       Description
    000:  Meta      0000000000   0000000000   0000000001   Safety Table
    001:  -------

[2018-05-21 19:35] drogus opened #36 "libfvalue_utf8_string_with_index_copy_to_integer: unsupported character value: 0x78 at index: 1."
I'm trying to mount a USB drive encrypted on Mac OSX (unfortunately I don't remember the exact procedure of encrypting it, but I probably used the default time machine setup a few years ago).

I'm using the following command:

[code]

and I get the following output:

[code]

[2018-05-22 04:53] joachimmetz commented on #36
Could you send me debug output so I can determine what libfvalue_utf8_string_with_index_copy_to_integer might be failing on

Also see: https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

[2018-05-22 11:20] drogus commented on #36
Thanks for the response! And yeah, sure, I recompiled with debug options and here's the output: https://gist.github.com/drogus/40ce9cb826f29944a6e91e76ed18aae9

[2018-06-14 03:49] #33 closed

[2018-06-20 15:02] funky-manky commented on #34
The same problem as @dwhickox
Full disk have been encrypted on macOS version 10.12 Sierra.
I'll try to send you debug output tooday.

[2018-06-21 06:49] funky-manky commented on #34
Here is debug output.
[debug.txt](https://github.com/libyal/libfvde/files/2122464/debug.txt)

[2018-06-27 05:55] joachimmetz commented on #34
@funky-manky thanks I'll have a look as soon as time permits.

[2018-07-12 09:57] PyBonnetainNesterenko commented on #36
Hello,
I have exactly the same issue and same error messages. The debug output is a little too big (41 Mb), and is rejected even when compressed. I will post it elsewhere if you need it.

[2018-07-12 09:59] joachimmetz commented on #36
@PyBonnetainNesterenko feel free to mail the compressed log to me directly.

[2018-08-05 16:08] Rob--W commented on #35
From https://github.com/libyal/libfvde/wiki/Mounting#mounting-the-system-volume :

I think that your image is not a system disk, but an external one.

The name is probably not that significant.
On Linux, the partition has type "AB00" (i.e. "Apple boot") and name "Booter" (found via `gdisk -l /dev/sdX`).
On macOS, with `diskutil` I can see that is actually called "Boot OS X" (of the type "Apple_Boo

[2018-08-12 08:02] cirolaferrara opened #37 "Extract hash from raw disk image"
I'm doing a forensic exame on a disk. I have a raw image:
[code]
How to extracts the hashes from disk? What is the right offset?
I tried with:
[code]

Any help would be appreciated

[2018-08-12 08:16] joachimmetz commented on #37
Unclear to me what you mean with this.

Try using the last pre-release 20180108 instead. The error you provided looks like there might be an issue with acquiring a thread lock in the under development (20180505) version

[2018-08-12 08:50] cirolaferrara commented on #37
Ok thanks. I will try.
Anyway i'm trying to extract hash of key of encrypted disk: https://github.com/magnumripper/JohnTheRipper/blob/bleeding-jumbo/doc/README.FileVault2

[2018-08-12 12:48] cirolaferrara commented on #37
[code]

[2018-08-12 13:31] joachimmetz commented on #37
Could you attach your config.log and last part of the output of configure

[2018-08-22 08:39] cirolaferrara commented on #37
Fixed with binary on ubuntu. Thanks

[2018-08-22 08:39] #37 closed

[2018-08-24 17:30] romanoju opened #38 "Unable to mount APFS container"
We connected a 128G drive externally and installed MAC OS 10.13.6 (High Sierra) on a HFS+ partition. After the installation it was encrypted with Filevault. After which the drive shows a EFI FAT partition, a Core storage Partition (about 127GB) and a Boot partition (shown below).
'fvdemount 20180108' generates a small fuse file (about 5GB) which fails to mount with error to the effect that it cann

[2018-08-25 05:57] joachimmetz commented on #38
Thx for the report with debug log, I'll have a look as soon as time permits. My guess it that libfvde is running into an issue with format compatibility.

[2018-08-27 11:00] cirolaferrara commented on #36
Same here with fvdeinfo 20180108

[2018-08-27 16:35] romanoju commented on #38
Just found out that 'High Sierra' does not implement "Full Disk Encryption". It encrypts those blocks which are in use only.
This would explain the small logical volume size which probably represents used blocks only.
So, it would not be supported by libfvde.

[2018-09-11 00:18] Bob1634854 commented on #36
The above does not work (the flags do not compose). Replace the above with the code below, which will attempt to do a hex format copy if the decimal format fails.
[code]

[2018-09-11 05:55] joachimmetz commented on #36
@Bob1634854 thanks for the suggestion, I'll have a look when time permits to add hexadecimal support.

[2018-09-11 05:56] joachimmetz commented on #17
@4n6x sry my time is limited at the moment, I'll have look as soon as time permits.

[2018-09-11 11:37] 4n6x commented on #17
Thanks Joachim,

Great work on FV btw ☺

Cheers
Andy

Andrew Sheldon MSc | CTO
T: 01908 597960   M: 07887 516801
D: 01908 597961

Evidence Talks Ltd | www.evidencetalks.com<http://www.evidencetalks.com>

From: Joachim Metz [mailto:notifications@github.com]
Sent: 11 September 2018 06:57
To: libyal/libfvde
Cc: Andrew Sheldon; Mention
Subject: [SPF:Passed] [DKIM:Passed] Re: [libyal/libfvde] Unable to

[2018-09-20 06:28] cirolaferrara commented on #36
Same.

[code]

[code]

[2018-10-03 15:43] tiago972 opened #39 "libfvde_encryption_context_plist_get_passphrase_wrapped_kek: unable to retrieve PassphraseWrappedKEKStruct sub property"
Hello everyone,
I'm trying to use libfvde but I've encountered several problems:
initialy, I had a couple of error starting with libfvalue_utf8_string_with_index_copy_to_integer: unsupported character value: 0x78 at index: 1. which was resolved by adding the code given in this post https://github.com/libyal/libfvde/issues/36.

However, it still doesn't work; here is the command line used and their

[2018-10-03 18:03] joachimmetz commented on #39
I'll have a look as soon a time permits. Note that this project is considered experimental.

[2018-10-04 10:13] tiago972 commented on #39
Okay thank you

[2018-10-09 18:35] elerch commented on #36
libfvalue_integer.c also needs to be modified as it's verifying input. libfvalue is used in this repository but the code lives in another repo, pulled in via synclibs.sh. I modified this if statement: https://github.com/libyal/libfvalue/blob/master/libfvalue/libfvalue_integer.c#L1525

to the following:

[code]

This got me past the error message, though I'm having other issues so I'm not sure that

[2018-10-10 20:36] cirolaferrara commented on #36
Yeah. It works 👍

[2018-11-02 13:58] axet commented on #38
Mac Mojave (most recent)

[code]

[2018-11-02 14:12] joachimmetz commented on #38
@axet you are trying to mount an APFS container (which is not supported). This library only supports FVDE CoreStorage volumes.

[2018-11-28 10:54] dunkhong opened #40 "libfvde_metadata_block_read_data: unsupported block size: 2466354417"
I am decrypting a encrypted disk by FileVault2, I guess. But, I got error the following:

libfvde_metadata_block_read_data: header data:
00000000: d9 79 20 d6 01 77 a1 b7  bc 32 75 91 2a 52 ba 22   .y ..w.. .2u.*R."
00000010: 48 d8 f7 87 0f 39 8d 69  51 e0 48 94 14 8a 78 5e   H....9.i Q.H...x^
00000020: 0c a1 c3 fd ee 1a a9 5f  9c c1 d4 d6 c2 91 b4 1f   ......._ ........
00000030: f1 94 01 93 09 5

[2018-12-29 18:37] rptnscz commented on #34
Unfortunately, I have to report the same problem.
Debug output attached.
hank you very much for looking into this, it is much appreciated..
[fvdeinfo_master.log](https://github.com/libyal/libfvde/files/2716618/fvdeinfo_master.log)

[2019-01-01 09:11] joachimmetz commented on #36
made changes to libfplist to support hexadecimal integer properties https://github.com/libyal/libfplist/commit/70ccbb889fe11f80c72a6f88f35bd43297a48797

[2019-01-04 17:39] funky-manky commented on #34
Unfortunately the same problem even with a  20190104 release =((

[2019-01-04 18:10] joachimmetz commented on #36
Integer issue should be addressed in libfvde 20190104

[2019-01-07 08:19] rptnscz commented on #34
No sure if it is clue, but error message have changed in the latest version:
fvdemount 20181008: Unable to unlock keys.

fvdemount 20190104: Unable to unlock source volume

[2019-01-08 07:40] delikat commented on #40
Seeing a similar issue on libfvde-20190104 with a FileVault2 encrypted SD card.

[code]

[2019-01-08 08:03] joachimmetz commented on #40
Could you provide me with format debug output.

Also see: https://github.com/libyal/libfvde/wiki/Troubleshooting#verbose-and-debug-output

[2019-01-08 08:17] delikat commented on #40
Yes, here's the stderr output: https://filebin.net/fehpd3bbrwdgc0rk/debug.log (it's quite large, about 32MB)

I configured with `--enable-verbose-output --enable-debug-output`. Thanks for taking a look!

[2019-01-08 08:47] joachimmetz commented on #40
Thx, I'll have a look as soon as time permits.

For the future know you can compress the log file `gzip debug.log`

[2019-02-20 10:37] gjdige opened #41 "fvdeinfo: Unable to unlock keys"
Hello,

I recently bumped into problem using fvdeinfo. Then I try to extract hash I get message with unable to unlock keys. The system is Mac OS X 10.8.3.

Then I try to mount /dev/sdb2 I get this problem:

Any ideas what I'm doing wrong?

[2019-02-25 00:02] gyrex opened #42 "issues reading Linux hfs mount from mounted single extent logical volume"
Hi guys,

I'm having some issues trying to mount my external disk to Ubuntu and I've spent a day on this but really need some help if possible please? Initially, I had issues because I figured out my kernel wasn't built with hfsplus support so I had to recompile and now I can see hfsplus listed in /proc/filesystems.

This disk was created in Mac Mojave. I'm running fvdemount version 20190104

Here

[2019-02-25 05:19] joachimmetz commented on #42
This project is experimental can you send me debug output to see if the issue can be fixed. Also see: https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors

[2019-02-25 10:24] gyrex commented on #42
Hi Joachim,

Thanks for your response. I've attached the output from:

`sudo fvdemount -v -p <password> /dev/sda2 /mnt/Ext4TB_raw`

It seems to stall/hang at the end so I had to kill the process, I'm not sure if this is normal behaviour from a verbose output? When I run it without verbose output, the command completes without error and exits normally.

[fvdemount.txt](https://github.com/libyal/lib

[2019-03-01 13:25] bulhakov-adf commented on #40
Hi @joachimmetz,

I have faced the same problem with removable media volume, Here is an output —
[fvdeinfo_output.txt](https://github.com/libyal/libfvde/files/2919544/fvdeinfo_output.txt)

It looks like skipping the block size check for 8192 value fixes the problem, but I am not sure that this is a right approach.

I can share a 7 GB image with a password via Google Drive.

[2019-03-04 23:55] gyrex commented on #42
Hi @joachimmetz,

I hope you're well. I was wondering if you've had a chance to review the log I sent? Is there anything else I can send you to help?

[2019-03-05 05:51] joachimmetz commented on #42
@gyrex thanks for the log

The "stall" is normal this is the program remaining to running in the foreground. A quick glance at the logs shows that the format of the image is not fully supported and will require more research into the format.

[2019-03-05 06:17] gyrex commented on #42
@joachimmetz If there's anything else I can do to help you diagnose this, don't hesitate to let me know mate.

[2019-03-17 20:33] V0oDoo commented on #39
I'm bumping into the same issue.

Version: fvdemount 20190122

Made a image of the entire Macbook Air disk with dd.

"libfvde_encryption_context_plist_get_passphrase_wrapped_kek: unable to retrieve PassphraseWrappedKEKStruct sub property.
libfvde_encrypted_metadata_get_volume_master_key: unable to retrieve passphrase wrapped KEK: 1 from encryption context plist.
libfvde_volume_open_read_keys_from_

[2019-03-22 15:22] BernhardEriksson opened #44 "Unable to mount an encrypted OS drive"
I've got an OS drive (m.2) that I need to access. I do not know exactly which version of macOS that is installed on it. However I can not mount it. I took out the EncryptedRoot.plist.wipekey per instructions in the wiki.

fvdemount -e EncryptedRoot.plist.wipekey -r 35AJ-AC98-TI1H-N4M3-HDUQ-UQFG /dev/sdb2 /mnt/fvdevolume/

fvdemount 20190104

Unable to open source volume
libfvde_encryption_context_

[2019-03-22 21:33] joachimmetz commented on #44
thx for the report, unfortunately my time is very limited at the moment, however I'll have a look as soon as time permits.

[2019-03-25 19:01] V0oDoo commented on #39
Hi! I know this is your freetime project, but any news regarding this issue?

[2019-03-26 04:44] joachimmetz commented on #39
Unfortunately no, I did not have the time to work on this yet.

[2019-04-13 09:53] Lennyroquai opened #45 "any pre-compiled package for Windows ?"
Dear all,

A thousand sorry... but even by following and trying multiples times : i wasn't able to compile the tool. (Visual studio 2010, mingw, etc...)
Is there any precompiled packages available somewhere ?

Thank you

[2019-04-14 00:20] joachimmetz commented on #45
This project does not provide prebuild binaries. What issue are you running into trying to compile the source yourself?

[2019-04-24 13:50] Lennyroquai commented on #45
Dear Joachim,

Sorry for the late answer.
I was finally able to build the package, thanks to the different answers from other people. And the source of the issue was : gigantic lack of knowledge from me :)

I had several issues :
- Lack of knowledge on Mingw32 and the librairies needed
- Issue compiling in 64 bits (but answered by someone in the issues list)
- Missing the libgcc_s_dw2-1.dll

[2019-04-24 13:50] #45 closed

[2019-04-25 05:16] joachimmetz commented on #45
Good to hear you were able to resolve your issues..

[2019-04-25 05:17] joachimmetz commented on #42
@gyrex sry have been busy traveling and other obligations, I'll try to have a look as soon as time permits.

[2019-06-05 18:47] christw92 opened #46 "cp mounted volume is slow"
I decrypted an fvde partition and then mounted this partition (to the external USB 3.0 hdd where the raw file is located too).

Then I tried to copy with cp to another folder on the same external hdd (to store data decrypted).

I'm trying to copy about 90GB of files and inspecting the current progress it would take about 3-4 days to copy this.

Any hints on why this is taking so long? Or is it "no

[2019-06-05 19:14] joachimmetz commented on #46
this is an experimental project.

Here are tips to troubleshoot https://github.com/libyal/libfvde/wiki/Troubleshooting

I've not seen such behavior before with this tool. I opt you take the time to properly troubleshoot you put blame somewhere.

[2019-06-09 13:29] christw92 commented on #46
Seems like the external hdd I used was corrupted. I used another one (freshly formatted with same file system type) and it copies very fast now :)

[2019-06-09 13:29] #46 closed

[2019-07-28 09:06] NickB23 commented on #42
Same issue here. Just leaving the comment to receive notifications for updates on this issue :-) 👍

[2019-12-16 11:43] #36 closed

[2020-01-27 12:16] n0rdlicht90 commented on #40
i have also the same problem with a removable media volume. Is there a solution for this? Here my error.log file:

[error.log.gz](https://github.com/libyal/libfvde/files/4117036/error.log.gz)

The mmls of the removable media volume is:

`GUID Partition Table (EFI)
Offset Sector: 0
Units are in 512-byte sectors

      Slot      Start        End          Length       Description
000:  Meta      0000

[2020-01-29 05:23] joachimmetz commented on #40
thx for the additional debug information, I'll have a look at time permits.

[2020-04-07 10:09] rwiesbach opened #47 "-"
-

[2020-04-07 10:15] #47 closed

[2020-04-25 11:29] therightprofile opened #48 "Need help, I'm unable to build libfvde on my Mac OS 10.14 installation"
I am unable to build any of the source distribution packages (20190104, 20191221) as well as with git clone on macos 10.14.

It seems to be related to the libcaes library.

Here's the error I get on make:

[code]

[code]

[2020-04-25 13:30] joachimmetz commented on #48
Can you attach your config.log. The CI builds seems fine, so I expect this to be something specific to your build environment.

[2020-04-26 09:04] joachimmetz commented on #48
I just built 20191221 on MacOS 10.14 on a clean installation with XCode without any issues. As I indicated please provide your config.log I suspect this is something specific to your installation.

[2020-04-26 17:04] therightprofile commented on #48
Here's my config.log

[config.log](https://github.com/libyal/libfvde/files/4535995/config.log)

Thanks!

[2020-05-11 08:24] joachimmetz commented on #48
Finally had some time for a brief look:
[code]

[code]

This corresponds roughly with my test.

libcaes_tables_initialized not being defined here https://github.com/libyal/libcaes/blob/20190102/libcaes/libcaes_context.c#L365 could be because LIBCAES_HAVE_AES_SUPPORT is defined (https://github.com/libyal/libcaes/blob/20190102/libcaes/libcaes_definitions.h.in#L54). I'll have a look what could trigge

[2020-05-11 08:29] joachimmetz commented on #48
I only see `HAVE_OPENSSL_EVP_H` defined in config.log

[code]

[2020-05-11 08:32] joachimmetz commented on #48
Though I see your config.log is from 20190104.

[2020-05-11 08:42] joachimmetz commented on #48
I see you are using `./configure --disable-shared-libs` maybe that is causing the issue.

[2020-05-30 17:51] nihilus commented on #26
Any hints on when this might be available? I need to run fsck before mounting the filesystem wrapped in the Filevault which makes the whole thing unusable for now.

[2020-05-30 17:56] joachimmetz commented on #26
This is a very low priority on my list, also I'm wondering if the library should have write support, since it makes things far more complex.

Why, can't you can use e.g. xmount with a cache file on top of the fvde mounted device? And emulate write support without actually writing to the original data.

[2020-05-30 17:57] nihilus commented on #26
Great idea! I will give it try before buying a 2nd disk.

[2020-05-31 20:17] nihilus commented on #1
Had this issue as well and using --force and this FUSE driver https://github.com/0x09/hfsfuse mounted the filesystem.

[2020-09-12 08:36] thawn commented on #42
I have the same issue trying to access an encrypted time machine volume created under Mac OS 10.14. AFAIK the used file system is APFS.
I also tried to inspect the fvde1 device file with fsapfsinfo and got the following errors:
[code]
fvdeinfo -p <correct password> /dev/sdf2 gives the following output:
[code]

[2020-09-12 08:41] joachimmetz commented on #42
So APFS does not use FVDE (CoreStorage with FileVault) it has built-in encryption instead.
Your file system is likely HFS+.

[2020-09-12 08:48] thawn commented on #42
I also tried hfsplus:
[code]

[2020-09-12 09:22] joachimmetz commented on #42
@thawn per an earlier comment "This project is experimental can you send me debug output to see if the issue can be fixed".

Can you also send a hexadecimal representation of the unencrypted volume header to make sure your file system is really HFS+.

[2020-09-12 12:57] thawn commented on #42
I finally managed to mount my time machine using --force and this FUSE driver https://github.com/0x09/hfsfuse

For future reference, this is what I did under Ubuntu 20.04 (maybe this would be useful information for the [Mounting wiki page](https://github.com/libyal/libfvde/wiki/Mounting)):
[code]
I have not tried to write to the disk because I don't need write access and am afraid to break somethi

[2020-09-12 15:17] joachimmetz commented on #42
This project provides no write support at the moment.

It could be that the hfsfuse implementation is more error tolerant than the hfsplus implementation.
Can you send me debug output anyway to address the issue?

[2020-09-13 08:30] thawn commented on #42
@joachimmetz I just compiled libfvde from source and enabled debugging and verbose output (before I used the `libfvde-utils` package provided by ubuntu 20.04 that does not come with debugging support).
However, when I run `fvdemount -v -p <password> <source> <target>`, I only get this output:
[code]
This is what I did to build and install:
[code]
I also made sure to uninstall `libfvde-utils` and t

[2020-09-13 08:39] joachimmetz commented on #42
First Ubuntu 20.04 seems to provide a version of libfvde that is **several years old** https://packages.ubuntu.com/focal/libfvde-utils

There is no need to do so, debugging support is intended for format debugging. However this mean that Ubuntu 20.04 is providing **highly experimental** code.

So there is no need to install the build with debug output:

After:

[code]

Try:

[code]

[2020-09-13 08:51] thawn commented on #42
that last command worked (although I do not understand why the file installed in /usr/local/bin did not work)

[debug.log](https://github.com/libyal/libfvde/files/5213809/debug.log)

[2020-09-13 09:06] joachimmetz commented on #42
thx, having a more detailed look as soon as time permits to see what I can find

Some possibilities:

* the dynamic library cache still points to the version without verbose output
* removing the libfvde-utils packagek likely did not remove libfvde, so your newly built tools are talking to a library without debug output

[2020-09-13 09:57] thawn commented on #42
Great, thanks a lot for all your work! Being able to access my time machine backup really saved me here :sweat_smile:

[2020-11-12 11:37] akoidan commented on #17
Any updates? Are there alternatives to this lib?

[2021-01-28 21:55] simoneeferreira commented on #1
@nihilus your comment saved me a lifetime of pain and suffering. You, sir, deserves a cup/pint/goblet of whatever beverage you might desire.

Env: Ubuntu 20.04

For anyone with this kind of problem in the future, these were the steps taken that worked for me:

1. Downloaded installed and built fvde (using the .dev section on the wiki).
2. Found the `EncryptedRoot.plist.wipekey` file from recovery

[2021-01-28 23:47] simoneeferreira opened #50 "Decrypted mounted drive has encrypted files."
Hi, I am recovering an old mac hard drive and managed to mount the drive successfully. But the files themselves are still encrypted. How do i go about decripting them?

These are the steps i did (using Ubuntu 20.04):

1. Downloaded, installed and built fvde, using the .deb section on the wiki (https://github.com/libyal/libfvde/wiki/Building#using-debian-package-tools-deb).
2. Found the EncryptedRo

[2021-02-19 17:07] harerama commented on #20
Hello, I have been having the same kind of issue: fvde2john (v20180108) running on Kali Linux 2020.4)
It seems that libfvde is not able to read the proper volume start offset.

I am not sure of the target MacOS version (could it be derived from the "com.apple.boot.P/System/Library/Caches/com.apple.corestorage/EncryptedRoot.plist.wipekey" path ?)

Here is a debug trace attached (if it can help).

D

[2021-03-28 18:11] TheAlienDrew commented on #6
Any status on the implementation of this?

[2021-05-09 13:05] funky-manky commented on #34
The latest 20210425 version has the new message after the command - fvdeinfo -o ....... : "The source volume is locked and a password is needed to unlock it."

[2021-07-18 20:22] DerBunteBall commented on #50
Do you know which macOS Version created the FileVault?

I have a similar situation with an external disk created on Catalina. I think it's not a problem of the encryption. It looks like the format isn't understood correctly. So the mapping which gets created is somewhat of broken. The file command breaks when you do it on the file. Result is the same with the version in DEbian buster and Git state

[2021-09-25 20:10] TiagonewDEV opened #51 "Unable to mount fvde1 partition"
When i try to mount the fvde1 partition i get this error "wrong fs type, bad option, bad superblock on /dev/loop11, missing codepage or helper program, or other error." please help i have a homeworkon this HD

[2021-09-26 04:30] joachimmetz commented on #51
@TiagonewDEV are you sure your HD contains CoreStorage with FileVault "Disk" Encryption. This is an older format that is nolonger actively used.

[2021-09-26 04:34] joachimmetz commented on #50
Insufficient information in the issue to help please provide format debug output https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors. Closing issue for now, reopen if more information becomes available.

[2021-09-26 04:34] #50 closed

[2021-09-26 04:36] joachimmetz commented on #48
libcaes has been updated in the mean time, try again with the latest. Closing this issue for now, since it was not reproducible.

[2021-09-26 04:36] #48 closed

[2021-09-26 07:11] TiagonewDEV commented on #51
Yes I'm sure ... It's a mavericks partition soooo

[2021-09-26 07:30] joachimmetz commented on #51
@TiagonewDEV then provide some more relevant details. I'm not able to help you if you don't clearly describe what steps you are taking and what issues you're are running into. Also provide the relevant debug output, also see https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors

[2021-09-26 09:19] TiagonewDEV commented on #51
Don't worry I'm gonna ask someone a Mac

[2021-09-26 09:19] #51 closed

[2021-10-01 13:24] EightLegs opened #52 "Retrieve hash from wipekey only"
Good day.

Is it available to retrieve FileVault hash for hashcat only with .wipekey file?  I have this file but don't have any access to the encrypted volume.

[2021-10-01 13:28] joachimmetz commented on #52
@EightLegs what do you mean with "FileVault hash" ?

[2021-10-02 08:26] EightLegs commented on #52
I mean a hash string like this example below
$fvde$1$16$3fc886d887bef6f52b6d3f275c290e23$135098$5f852cd981bdad55bd8e60de04ab28742961b3c55e28a0f5

Is it available to retrive a hash like this with only EncryptedRoot.plist.wipekey file? Do i misunderstand anything?

[2021-10-02 08:47] joachimmetz commented on #52
and what does this represent?

[2021-10-11 09:26] #52 closed

[2022-01-05 08:26] arcticforensics opened #53 "libfvde_metadata_block_read_data: unsupported block size: 7312611905704139"
[debug.txt](https://github.com/libyal/libfvde/files/7813221/debug.txt)

Same problem as issue #40???

Unable to open source volume
libfvde_metadata_block_read_data: unsupported block size: 7312611905704139.

libfvde_encrypted_metadata_read: unable to read metadata block.

libfvde_volume_open_read: unable to read primary encrypted metadata.

libfvde_volume_open_file_io_handle: unable to read from f

[2022-01-08 02:07] arcticforensics commented on #53
Same problem as issue #42???

Unable to open source volume
libfvde_metadata_block_read_data: unsupported block size: 7312611905704139.

libfvde_encrypted_metadata_read: unable to read metadata block.

libfvde_volume_open_read: unable to read primary encrypted metadata.

libfvde_volume_open_file_io_handle: unable to read from file IO handle.

mount_handle_open: unable to open volume.

fvdemount ver

[2022-01-08 05:13] arcticforensics commented on #53
This may be an issue with earlier versions of Mac OS X.  The error above occurred when attempting to read a thumb drive formatted as a single CoreStorage device (diskutil corestorage create ....) created using Mac OS Yosemite (10.10).  However, formatting an identical thumb drive using the same command with Mac OS Catalina (10.15), fvdemount works!

[2022-01-16 21:14] joachimmetz commented on #31
Unclear if this is an issue or an FYI. Documentation mentions that cygwin builds are dependent on other DLLs. Documentation cannot account for every edge case possible, closing issue.

[2022-01-16 21:14] #31 closed

[2022-01-16 21:16] joachimmetz commented on #32
As per https://github.com/libyal/libfvde/issues/25 it could be that the source image truncated or that the size of the encrypted volume is detected incorrectly can you provide me with format debug output. Also see: https://github.com/libyal/libfvde/wiki/Troubleshooting#format-or-behavioral-errors

Without this information unable to further determine what is going on, closing.

[2022-01-16 21:16] #32 closed

[2022-01-16 21:32] joachimmetz commented on #34
[code]

[code]

[code]

unclear what `logical block number    : -2` represents

[code]

unclear why 0x0505 points to physical volume block 65536 while 0x0305 and 0x0405 seems to point to physical volume block 0

[2022-01-16 21:34] joachimmetz commented on #34
Looks very similar to debug.txt

[2022-01-16 21:47] joachimmetz commented on #34
[code]

[code]

[code]

has no 0x0505 block

Looks like a different issue, offset looks correct but decryption does not.

[2022-01-16 21:49] joachimmetz opened #54 "Improve format support"
* [ ] add support for multi extent logical volume (need test data)
* [ ] add support for multiple physical volumes

[2022-01-16 21:52] joachimmetz commented on #34
For debug.txt and debug.2.txt WIP to add better support for logical volume offsets handling.

[2022-01-16 21:52] #34 closed

[2022-01-16 21:59] joachimmetz commented on #6
Looks like the original request is to have support for multiple physical volumes. Closing this issue in favor of https://github.com/libyal/libfvde/issues/54 (also to disambiguate with Fusion Drives).

[2022-01-16 21:59] #6 closed

[2022-01-16 22:02] joachimmetz commented on #4
Many changes have been made in the mean time. Closing this issue, reopen if still an issue with https://github.com/libyal/libfvde/commit/3a2f0c913bd9d3bfcdba29edb8008610f97df591 or newer

[2022-01-16 22:02] #4 closed

[2022-01-16 22:04] joachimmetz commented on #54
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-16 22:04] #54 closed

[2022-01-16 22:06] joachimmetz commented on #1
Closing this issue in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-16 22:06] #1 closed

[2022-01-16 22:07] joachimmetz commented on #8
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-16 22:07] #8 closed

[2022-01-16 22:09] joachimmetz commented on #12
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-16 22:09] #12 closed

[2022-01-16 22:10] joachimmetz commented on #9
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-16 22:10] #9 closed

[2022-01-16 22:12] joachimmetz commented on #17
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-16 22:12] #17 closed

[2022-01-16 22:15] joachimmetz commented on #19
[code]

[2022-01-16 22:30] joachimmetz commented on #19
So ConversionInfo is not present in this plist. Added reminder to make it optional in https://github.com/libyal/libfvde/issues/2. Closing this issue

[2022-01-16 22:30] #19 closed

[2022-01-16 22:37] joachimmetz commented on #20
Based on debug.txt.zip

[code]

Looks like this could be related to the XML plist processing. Marking as needs a closer look

[2022-01-17 10:16] #26 closed

[2022-01-17 10:16] joachimmetz commented on #27
No update from original reporter closing issue.

[2022-01-17 10:16] #27 closed

[2022-01-17 10:17] joachimmetz commented on #35
Looks like question was answered by documentation, closing issue.

[2022-01-17 10:17] #35 closed

[2022-01-17 10:42] joachimmetz commented on #21
Unable to resolve without debug output, reopen when more information available.

[2022-01-17 10:42] #21 closed

[2022-01-17 15:25] joachimmetz commented on #19
Note that this plist also does not have CryptoUsers and WrappedVolumeKeys

[2022-01-18 15:58] joachimmetz commented on #16
Password related changes integrated in 86e0c5b, closing issue

[2022-01-18 15:58] #16 closed

[2022-01-18 16:04] joachimmetz commented on #23
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-18 16:04] #23 closed

[2022-01-18 16:08] joachimmetz commented on #24
No update from original reporter, closing issue

[2022-01-18 16:08] #24 closed

[2022-01-18 16:10] joachimmetz commented on #28
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-18 16:10] #28 closed

[2022-01-18 16:12] #38 closed

[2022-01-18 16:13] joachimmetz commented on #38
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-18 17:29] joachimmetz commented on #39
This should have been addressed in https://github.com/libyal/libfvde/commit/d86baf84e84cd98433c1a5a6dd0d1a84ce07e24d. Closing issue.

[2022-01-18 17:29] #39 closed

[2022-01-18 18:03] joachimmetz commented on #22
Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-18 18:03] #22 closed

[2022-01-18 18:06] joachimmetz commented on #41
This is possibly due to unsupported format features. Closing in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-18 18:07] #41 closed

[2022-01-18 18:11] joachimmetz commented on #44
So looks like a multi extent logical volume. Closing this issue in favor of https://github.com/libyal/libfvde/issues/2

[2022-01-18 18:11] #44 closed

[2022-01-18 18:12] joachimmetz commented on #29
Test are passing again on CI testing platforms. Closing issue

[2022-01-18 18:12] #29 closed

[2022-01-18 18:26] joachimmetz commented on #40
For both error.log.gz and fvdeinfo_output.txt there is "random" data after a 0x0013 block. Could this be related to https://github.com/libyal/libfvde/issues/12 ?

[2022-01-18 18:28] joachimmetz commented on #40
@bulhakov-adf if you still have the image, that could be useful in determining what the cause of this is.

[2022-01-18 18:34] joachimmetz commented on #53
Yes this issue is similar to https://github.com/libyal/libfvde/issues/40, though that it happens after an encrypted metadata block 0x0011 instead of 0x0013.

[2022-01-18 18:36] joachimmetz commented on #53
Closing this in favor of https://github.com/libyal/libfvde/issues/40, @arcticforensics if the image can be shared or the test case can be added to https://github.com/dfirlabs/core-storage-specimens that could be useful in determining if this is an unsupported format feature or something else.

[2022-01-18 18:36] #53 closed

[2022-01-18 18:40] joachimmetz commented on #42
Based on fvdemount.txt, looks like a single extent image

[code]

[2022-01-18 18:44] joachimmetz commented on #42
[code]

And FS header is look correctly decrypted
[code]

[2022-01-18 18:46] joachimmetz commented on #42
Based on debug.log also single extent

[code]

[2022-01-18 20:17] joachimmetz commented on #42
Using https://github.com/libyal/libfshfs with debug output might indicate what is wrong

[2022-01-20 13:00] joachimmetz commented on #40
same error message seen in combination with physical volume with different key data in the volume header

[2022-01-20 13:39] joachimmetz commented on #42
Unable to reproduce, I opt to give libfvde-experimental-20220120 a try. Closing this issue for now, reopen if issue persist.

[2022-01-20 13:39] #42 closed

[2022-04-19 04:20] anon8675309 commented on #2
I'd like to help contribute to this issue and it just so happens I have a drive that gets the dreaded "Unable to unlock source volume" error of #34 and #41 fame.  I'm not sure what the issue is, but I see that it does have a section 0x0505 and it only has one physical and one logical volume.  Below is the output of fvdeinfo and the debug log from fvdemount.

[code]

[fvdetools_south_america.log](h

[2022-04-19 04:29] joachimmetz opened #55 "Unable to unlock source volume"
I'd like to help contribute to this issue and it just so happens I have a drive that gets the dreaded "Unable to unlock source volume" error of #34 and #41 fame.  I'm not sure what the issue is, but I see that it does have a section 0x0505 and it only has one physical and one logical volume.  Below is the output of fvdeinfo and the debug log from fvdemount.

[code]

[fvdetools_south_america.log](h

[2022-04-19 04:30] joachimmetz commented on #2
@anon8675309 I've moved your comment to a separate issue https://github.com/libyal/libfvde/issues/55, since this issue is mostly for overview not for discussion.

[2022-04-19 04:35] joachimmetz commented on #55
@anon8675309 did you provide a password? I see no unlock attempt in fvdetools_south_america.log

[2022-04-19 19:06] joachimmetz commented on #55
try if "Booter" contains an external encrypted plist

[2022-04-19 20:07] anon8675309 commented on #55
Booter did contain an encrypted plist, but it did not work to unlock the drive.  I believe this disk was in a machine called Frankenstein at one point (based on the output of mmls) and the plist was probably for that partition.  The output of fvdemount looks slightly different, but it's still "Unable to unlock volume."  I just mounted this drive on a mac to confirm the password I'm using is correc

[2022-04-20 04:11] joachimmetz commented on #55
the metadata block that typically contains a "removeable" drive encryption context plist is 0x0019. From [fvdetools_south_america-attempt3.log](https://github.com/libyal/libfvde/files/8516031/fvdetools_south_america-attempt3.log)

[code]

This is empty, so that means `internal_logical_volume->encrypted_metadata1->encryption_context_plist_data` and `internal_logical_volume->encrypted_metadata2->enc

[2022-07-05 11:51] arcticforensics opened #56 "Apple Fusion Drive - FileVault2"
I'm attempting to use libfvde to decrypt an Apple Fusion drive with FileVault2 encryption - fvdemount returns "libfvde_encrypted_metadata_read_type_0x001a: unable to retrieve logical volume descriptor with object identifier: 1141".  See debug text file attached.

[2022-08-02 16:28] miguelmorin opened #57 "Unable to install from pip (#include <libintl.h>) or from source (Running: sh configure --disable-shared-libs failed)"
I discovered this package on StackExchange. I try to install it with `pip3`:

[code]

I also clone the repo and try to install from source with:

[code]

I am running macOS Mojave 10.14.6 and Python 3.9.13 installed with Homebrew.

How can I fix this or find a workaround?

[2022-08-02 16:50] joachimmetz commented on #57
You need to make sure to all necessary dependencies. Also see: https://github.com/libyal/libfvde/wiki/Building

[2022-08-02 16:50] #57 closed

[2022-08-03 09:23] miguelmorin commented on #57
I followed the build instructions and downloaded the source distribution package, un-tar'ed it, and ran:

[code]

I got the same error:

[code]

But running with Python that ships with macOS, I was able to install it:

[code]

Result:
[code]

[2022-08-03 09:42] miguelmorin opened #58 "Add quickstart guide for new users"
I discovered this package on [StackExchange](https://apple.stackexchange.com/questions/371502/which-encrypted-items-show-a-hint/371511?noredirect=1#comment642893_371511) and felt very excited by the possibility of retrieving encrypted data. A [StackExchange user](https://apple.stackexchange.com/questions/444615/find-and-decode-bytes-containing-passphrase-hint-cryptousers-structure-in-file) mention

[2022-08-03 10:36] joachimmetz commented on #58
You only built the Python bindings, not the tools. As I said before follow the build instructions https://github.com/libyal/libfvde/wiki there is no mention/recommendation to use setup.py.

[2022-08-03 10:36] #58 closed

[2022-08-03 10:41] joachimmetz commented on #57
Based on the error, the build process cannot find the necessary gettext headers. Hence you did not install all necessary dependencies.

[2022-10-07 15:02] miguelmorin commented on #58
Indeed, the instructions to [build from source](https://github.com/libyal/libfvde/wiki/Building) contain all the elements for a successful build, and now I see:

[code]

[2022-10-07 15:03] miguelmorin commented on #57
Indeed, the instructions to [build from source](https://github.com/libyal/libfvde/wiki/Building) contain all the elements for a successful build, and now I see:

[code]

[2022-11-14 20:08] miguelmorin opened #60 "How to access removable CoreStorage FVDE encrypted disk?"
I would like to use `fvde` to show the password hint of a backup drive I encrypted. I read the paper "Infiltrate the Vault" from the author and, if I understand correctly, the hint is stored in a `Recovery HD` volume, next to the main `Macintosh HD` volume. When I run `diskutil list` with the encrypted drive connected, I see:

[code]

That `Recovery HD` is present in the startup disk and is absent

[2022-11-15 05:03] joachimmetz commented on #60
FVDE is CoreStorage not APFS

[2022-11-15 08:44] miguelmorin commented on #60
Thank you Joachim for the quick reply. I wonder if there's a confusion: the APFS Volume in the list is not the one I want to access. I want to access the `Apple_CoreStorage`, with name `Time Machine Encrypted` in that list. It was formatted with `Disk Utility` on `macOS Yosemite` with format `Mac OS Extended (Journaled, Encrypted)` format. Could you confirm if this encryption is not compatible wit

[2022-11-19 03:21] joachimmetz commented on #60
assuming question was answered, closing issue

[2022-11-19 03:21] #60 closed